.Cap1 {
  width: 650px;
  padding: 1.6rem;
  max-width: 100%;
  border: 2px solid rgba(177, 177, 177, 0.123);
  margin-bottom: 3rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 25px;
  box-shadow: 1px 4px 10px gray;
}
.Cap1 h3 {
  text-align: center;
  margin-bottom: 3rem;
}
.Cap1 img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  object-fit: cover;
  width: 100%;
}
