.App {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
    margin-right: 1rem;
    margin-left: 1rem;
    text-decoration: none;
    outline: none;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

span:link, span:visited, span:active,span:hover {
    text-decoration:none;
}